@use "variables"

:host
    display: block
    min-height: 100vh

.container
    width: 100%
    height: 100vh
    background-color: variables.$background-page

.router-container
    margin-top: variables.$size-XL * 2
    overflow: auto
