@use "variables"

:host
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 100%
    height: variables.$size-XL * 2
    background-color: variables.$info-color
    padding-left: variables.$size-XL
    padding-right: variables.$size-XL
    color: variables.$font-light-color

.buttons-right
    display: flex
    *
        margin-left: variables.$size-XS
