<app-lessons-list-header>
    <p class="container-title">List title</p>
    <app-lessons-list-progress>24/50</app-lessons-list-progress>
</app-lessons-list-header>
<div class="scroll-content">
    <div class="inner">
        <app-lessons-list-row *ngFor="let lesson of lessons">
            <p lesson-number>1</p>
            <p lesson-name>Ordinales</p>
            <div right-indicator><app-icon></app-icon></div>
            <div actions>
                <div>
                    <app-icon></app-icon>
                </div>
                <div>
                    <app-icon></app-icon>
                </div>
            </div>
        </app-lessons-list-row>
    </div>
</div>