<div class="scroll-content">
    <div class="inner">
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>lessons-list works!</p>
        <p>laaaaaast</p>
    </div>
</div>