<app-screen-container *ngIf="courseObs$ | withLoading | async as obs">
    <ng-template [ngIf]="obs.value">
        <app-container class="continue-container">
            <p container-title>Vuelve donde lo dejaste</p>
            <p>{{obs.value.currentLesson | currentLesson}}</p>
            <app-container-actions>
                <app-button (click)="playLesson(obs.value.currentLesson.lesson.id)">Reproducción ordenada</app-button>
                <app-button type="secondary" (click)="playRandom()">Aleatorio</app-button>
                <app-button type="secondary" (click)="playLesson(obs.value.nextLessonId)">Siguiente sesión</app-button>
            </app-container-actions>
        </app-container>

        <p class="section-title">Temario</p>

        <div class="trimesters-row">
            <app-container *ngFor="let trimester of obs.value.trimesters"
                (click)="navigateTrimesterLessons(trimester.number)" appClickable>
                <p container-title>{{trimester.number}}º Trimestre</p>
                <p>{{trimester.viewedLessons}}/{{trimester.totalLessons}} sesiones</p>
            </app-container>
        </div>
    </ng-template>

    <ng-template [ngIf]="obs.loading">
        <div class="loading">Cargando...</div>
    </ng-template>

    <ng-template>
        <div class="error">Error obteniendo los datos del curso</div>
    </ng-template>


</app-screen-container>