<div class="section-title">Configuración</div>
<div class="content">
    <div class="form-container">
        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>


    </div>
    <div class="buttons-container">
        <app-button>Guardar cambios</app-button>
        <app-link>Cerrar sin guardar</app-link>
    </div>
</div>