$primary-color: #FF7133 !default
$success-color: #fca706 !default
$info-color: #3ec0b2 !default
$background-page: lightgrey !default
$background-primary: white !default

$font-primary-color: black !default
$font-selected-color: white !default
