@use "variables"

:host
    display: block
    height: calc(100% - variables.$size-XL * 4)
    width: calc(100% - variables.$size-XL * 2)
    max-width: variables.$size-XL * 16
    margin: auto
    margin-top: variables.$size-XL * 3

.navigation
    margin-top: -(variables.$size-S)

.navigation:empty
    display: none
